/************************** TAG SELECORS **************************/

h1 {
  color: red;
  font-size: 200px;
}

/*
img {
  background-color: red;
} */


/************************** CLASS SELECORS **************************/

.bacon {
  background-color: green;
}

.broccoli {
  background-color: red;
}
